<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.jsp</location>
    </error-page>
    <context-param>
        <param-name>upload.location</param-name>
        <param-value>/</param-value>
    </context-param>
    <!--        <error-page>-->
    <!--            <error-code>500</error-code>-->
    <!--            <location>/errors/500.jsp</location>-->
    <!--        </error-page>-->
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>com.example.firsttomcat.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/users-servlet</url-pattern>
    </servlet-mapping>
</web-app>